<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
    {{> meta}}
    <title>main</title>
</head>
<body>
<section class="container">
    <div>
        <h2>Note service</h2>
    </div>
    <div>
        <ul>
            <li><a href="/registration">Sign up</a></li>
            <li><a href="/login">Sign in</a></li>
        </ul>
    </div>
</section>
</body>
</html>